@media (min-width: 300px) {
  .sticky_div_mid_content {
    height: 120px;
  }
}

@media (min-width: 576px) {
  .sticky_div_mid_content {
    height: 160px;
  }
}

@media (min-width: 768px) {
  .sticky_div_mid_content {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .sticky_div_mid_content {
    height: 240px;
  }
}

@media (min-width: 300px) {
  .sticky_div_mid_content_text_resize {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .sticky_div_mid_content_text.sticky_div_mid_content_text_resize {
    font-size: 42px;
  }
}

@media (min-width: 768px) {
  .sticky_div_mid_content_text.sticky_div_mid_content_text_resize {
    font-size: 56px;
  }
}

@media (min-width: 992px) {
  .sticky_div_mid_content_text.sticky_div_mid_content_text_resize {
    font-size: 72px;
  }
}

