@media (min-width: 300px) {
  .sticky_div_mid_content {
    height: 120px;
  }
}

@media (min-width: 576px) {
  .sticky_div_mid_content {
    height: 160px;
  }
}

@media (min-width: 768px) {
  .sticky_div_mid_content {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .sticky_div_mid_content {
    height: 240px;
  }
}

@media (min-width: 300px) {
  .sticky_div_mid_content_text_resize {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .sticky_div_mid_content_text.sticky_div_mid_content_text_resize {
    font-size: 42px;
  }
}

@media (min-width: 768px) {
  .sticky_div_mid_content_text.sticky_div_mid_content_text_resize {
    font-size: 56px;
  }
}

@media (min-width: 992px) {
  .sticky_div_mid_content_text.sticky_div_mid_content_text_resize {
    font-size: 72px;
  }
}

@media (min-width: 300px) {
  .Home_slider_slider_resizer {
    height: 150px;
  }
}

@media (min-width: 576px) {
  .Home_slider_slider_resizer {
    height: 170px;
  }
}

@media (min-width: 768px) {
  .Home_slider_slider_resizer {
    height: 201px;
  }
}

@media (min-width: 992px) {
  .Home_slider_slider_resizer {
    height: 270px;
  }
}

@media (min-width: 1200px) {
  .Home_slider_slider_resizer {
    height: 350px;
  }
}

@media (min-width: 1400px) {
  .Home_slider_slider_resizer {
    height: 400px;
  }
}

@media (min-width: 300px) {
  .Home_Slider_button_resizer {
    height: 90%;
  }
}

@media (min-width: 576px) {
  .Home_Slider_button_resizer {
    height: 65%;
  }
}

@media (min-width: 768px) {
  .Home_Slider_button_resizer {
    height: 55%;
  }
}

